.hero {
    padding-bottom: 5rem;
    line-height: 1;
    position: relative;
}
.hero__title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 4rem;
}
.hero__img {
    width: 100%;
}
.hero__block {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 1024px)  {
    .hero {
        padding-bottom: 15rem;
    }
    .hero__box {
        position: absolute;
        left: 40rem;
    }
    .hero__title {
        font-size: 10rem;
    }
    .hero__link {
        padding: 3rem 4rem;
        font-size: 1.6rem;
    }
    .hero__block {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        position: relative;
    }
    .hero__img {
        height: 50rem;
        object-fit: cover;
        margin: 0;
    }
}